<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TO_DO LIST</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <header>
    <div class="container">
    <a href="/" style="text-decoration: none; color: blue;">Home</a>
    <a href="/about" style="text-decoration: none; color: blue;">About</a>
  </div>

  </header>
  <body>
    